<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Workers</title>
</head>
<body>
<div>

<table border = "1" cellpadding = "10">
  <!-– border –
  obramowanie, cellpadding – rozmiar komórki -->
  <!-- Table header -->
  <thead>
  <tr>
    <!-- Table row -->

    <th>ID</th>
    <th>Email</th>

  </tr>
  </thead>
  <!-- Table body -->
  <tbody>

  <tr th:each = "workers : ${list_Workers}">

    <td th:text = "${workers.id}">ID</td>
    <td th:text = "${workers.email}">Item Name</td>

  </tr>
  </tbody>
</table>
</div>
</body>
</html>